@model IQueryable<Currency>
<body>
    <form asp-controller="Home" asp-action="Show">
        <h2>Выберите начальную и конечную даты нужного диапазона</h2>
        <label for="start">Начальная дата:</label>

        <input type="date" id="start" name="dateStart"
               value="@ViewBag.today"
               min="2016-01-01" max="@ViewBag.today">

        <label for="end">Конечная дата:</label>

        <input type="date" id="end" name="dateEnd"
               value="@ViewBag.today"
               min="2016-01-01" max="@ViewBag.today">
        <label>*Примечание: максимальный диапазон - один год. 
            <p>При задании большего диапазона будут получены данные за последный год перед конечной датой</p></label>
        <label style="margin-top:30pt">Выберите интересующую валюту:</label>
        <select style="margin-top:10pt" name="selectedCur" asp-items="ViewBag.SelectItems"></select>
        <input style="margin-top:10pt" type="submit" />
    </form>
</body>
